@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;
@use '../../partials/variables' as *;

.aboutPage{
    @include default-padding;
    padding-block-start: 80px;
    background-image: linear-gradient($blue, $blue, $purple);
    height: calc(100vh - 80px);

    @include tablet{
        height: calc(100vh - 80px);
    }

    @include desktop{
        height: calc(100vh - 80px);
    }

    &__tagline{
        color: white;
        font-size: 48px;

        @include tablet{
            font-size: 72px;
        }
    }

    &__button-filled{
        @include button-filled;
        margin-top: 24px;
    }
}