@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;
@use '../../partials/variables' as *;

.aboutPage{
    margin-top: 80px;
    background-color: $blue;

    &__tagline{
        color: white;
        font-size: 48px;
        padding-top: 36px;
        @include default-padding;

        @include tablet{
            font-size: 72px;
            padding-top: 96px
        }
    }

    &__button-filled{
        @include button-filled;
        margin-top: 24px;
    }

    &__section{
        @include default-padding;
        margin: 0;
    }

    &__subheader{
        color: white;
        font-size: $mobile-h3;
        margin: 0;
        padding-top: 56px;

        @include tablet{
            font-size: $h3;
            padding-top: 96px;
        }
    }

    &__paragraph{
        color: white;
        font-size: $mobile-p;
        margin: 0;
        margin-top: 24px;

        @include tablet{
            font-size: $p;
        }
    }

    &__link{
        color: $honey-mustard;
        display: inline;
        text-decoration: none;
        margin: 7px;

        &:hover{
            text-decoration: underline;
        }
    }

    #why-I-chose{
        background-image: linear-gradient($blue, $pastel-pink);
    }

    #ambitions{
        background-image: linear-gradient($pastel-pink, $honey-mustard);
        padding-bottom: 36px;
    }
}