//colors
$black: #282724;
$blue: #535CFA;
$honey-mustard: #E4B958;
$purple: #6440E3;
$pastel-pink: #FA6E6B;
$darker-blue: #4A52E0;
$darkest-blue: #282C7A;
$blueberry: #3D44BA;

//font sizes
$mobile-h1: 48px;
$mobile-h2: 36px;
$mobile-h3: 24px;
$mobile-p: 18px;
$h1: 72px;
$h2: 64px;
$h3: 36px;
$p: 24px;