@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;
@use '../../partials/variables' as *;

.portfolioPage{
    @include default-padding;
    background-image: linear-gradient($blue, $purple, $pastel-pink, $honey-mustard);
    padding-block-end: 56px;

    &__tagline{
        color: white;
        font-size: 48px;
        padding: 96px 0;

        @include tablet{
            font-size: 72px;
            padding: 124px 0;
        }
    }

    &__button-filled{
        @include button-filled;
        margin-top: 24px;
    }
}